@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark: rgb(0, 0, 0);
  --color-light: rgb(255, 255, 255);
  --color-primary: rgb(52, 220, 164);
  --color-secondary: rgb(255, 126, 103);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: rgb(255, 255, 255);
    --color-dark: rgb(0, 0, 0);
  }
}

@layer base {
}

@layer components {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
