@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Exo 2', sans-serif;
  --font-serif: 'Playwrite US Modern', serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-dark: rgb(0, 0, 0);
  --color-light: rgb(255, 255, 255);
  --color-primary: rgb(77, 201, 46);
  --color-secondary: rgb(52, 142, 149);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: rgb(255, 255, 255);
    --color-dark: rgb(0, 0, 0);
  }
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
  ::selection {
    color: var(--color-primary);
    background-color: var(--color-secondary);
  }
}

@layer components {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
